.friendsNav{
    display: flex;
    flex-direction: row;
    
}

.friendsNavImg{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 16px;
    color: black;
}

.ElementsRow{
    display: flex;
    flex-direction: column;
}