.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-top: 20px;
}

.users{
    font-size: 1.5rem;
    margin-left: 40px;
}

.chats{
    font-size: 1.5rem;
    margin-left: 40px;
}

.dialog{
    text-decoration: none;
    color: azure;
}

.itemArea{
    margin-top: 40px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
}