.nav{
    grid-area: n;
    background-color: burlywood;
    margin-top: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .item{
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }


  .active{
    color: brown;
    text-decoration: none;
    font-size: 2rem;
  }