.nav{
    grid-area: n;
    background-color: #6ca2cc;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .item{
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  
  .settingItem{
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .active{
    color: #636363;
    text-decoration: none;
    font-size: 2rem;
  }

  .imgItemFriend{
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }